<div class="main">
  <div class="media">
    <img src="../../assets/man-smiling.jpg" alt="happy man with phone">
  </div>
  <div class="text">
    <h6>Fraud Detection & Prevention</h6>
    <h5>Spot and stop account takeovers and fraudulent applications.</h5>
    <p>Spot user behaviors and device information that’s suspicious, and stop those fraudsters in real time. We track billions of devices and our fraud analysts add evidence to make this intelligence even more effective.</p>
    <a href="" class="thisButton default1">Stop Fraud Cold</a>
  </div>
</div>