<div class="main">
    <div class="media">
      <img src="../../assets/iphone.jpg" alt="a cell phone">
    </div>
    <div class="text">
      <h6>Regulations & Compliance</h6>
      <h5>Meet new regulations and offer a secure customer experience.</h5>
      <p>Ensure that every solution you use is safe, secure and compliant with ever-changing GDPR, PSD2 and other personal data standards and regulations. Our authentication solutions take care of that for you.</p>
      <a href="" class="thisButton default1">Meet Industry Standards</a>
    </div>
  </div>