<div class="main">
    <div class="media">
      <img src="../../assets/hand-holding-ipad.jpg" alt="a hand holding an ipad">
    </div>
    <div class="text">
      <h6>Authentication</h6>
      <h5>iovation makes authentication easy, effortless and safer for everyone.</h5>
      <p>Provide your good customers with a sleek, speedy and secure login experience. Choose invisible device-based authentication or multifactor methods that adapt based on a perceived threat.</p>
      <a href="" class="thisButton default1">Secure Your Logins</a>
    </div>
  </div>